Repository beehive-lab/TornadoVM, pull requests merged in 2022-07, with the labels that each got.

#190 [conf] Maven Local Install script fixed to 0.15-dev
  assembly/src/bin/tornadoLocalInstallMaven
Labels: bug, enhancement

#199 Small typo in scripts path
  README.md
  scripts/tornadoVMInstaller.sh
Labels: bug, documentation

#196 CUDA PTX Header Fixed
  drivers/opencl-jni/src/main/cpp/source/OCLProgram.cpp
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/CUDAVersion.java
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDevice.java
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXVersion.java
  drivers/spirv-levelzero-jni/src/main/cpp/src/levelZeroContext.cpp
  drivers/spirv-levelzero-jni/src/main/cpp/src/levelZeroDescriptors.cpp
  drivers/spirv-levelzero-jni/src/main/cpp/src/levelZeroModule.cpp
  unittests/src/main/java/uk/ac/manchester/tornado/unittests/prebuilt/PrebuiltTest.java
Labels: bug, PTX, spirv

#200 [PTX] Fix #195: PTX Kernel Signature match with arguments size during kernel launch
  drivers/ptx-jni/src/main/cpp/source/PTXStream.cpp
  drivers/ptx-jni/src/main/cpp/source/ptx_utils.cpp
  drivers/ptx-jni/src/main/cpp/source/ptx_utils.h
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTX.java
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDeviceContext.java
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXPlatform.java
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXStream.java
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/PTXArchitecture.java
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/backend/PTXBackend.java
  drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXKernelArgs.java
  drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/SPIRVLevelZeroInstalledCode.java
  unittests/src/main/java/uk/ac/manchester/tornado/unittests/reductions/TestReductionsFloats.java
Labels: bug, compiler, PTX, runtime
