Repository beehive-lab/TornadoVM, pull requests merged in 2024-05, with the labels that each got.

#403 [Refactor] Cleanup and refactor of the code for analysis of parallel loops and loop interchange
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/TaskMetaDataInterface.java
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/utils/CompilerUtil.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLCompiler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/phases/TornadoParallelScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/compiler/PTXCompiler.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/phases/TornadoParallelScheduler.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/compiler/SPIRVCompiler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/phases/TornadoParallelScheduler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/JVMMapping.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/Tornado.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoSchedulingStrategy.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/phases/sketcher/TornadoApiReplacement.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/phases/sketcher/TornadoAutoParalleliser.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoGraphBuilder.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/AbstractMetaData.java
Labels: compiler, refactor

#409 [docs] Guidelines to build the documentation
  Makefile
  docs/source/build-documentation.rst
  docs/source/index.rst
Labels: documentation

#411 [windows] Windows installer improved
  bin/compile
  bin/config_utils.py
  bin/install_python_modules.py
  bin/softwareDevDependencies.txt
  bin/tornadoDepModules.txt
  bin/tornadovm-installer
  bin/windowsMicrosoftStudioTools2022.cmd
Labels: installation, windows

#407 [jit][ocl] Debug and build kernel improved
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLCodeCache.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLProgram.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/enums/OCLBuildStatus.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/enums/OCLProgramBuildInfo.java
Labels: compiler, OpenCL

#412 [installer] install python dependent python modules with pip
  bin/tornadovm-installer
  docs/source/installation.rst
Labels: enhancement, installation

#415 [chore] Checkstyle errors fixed
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ByteArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/IntArray.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/AbstractMetaData.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestBuildFromByteBuffers.java
Labels: code-style

#414 Refactor TestFields unittest to use Panama data types
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/fields/TestFields.java
Labels: tests, refactoring

#410 [OCL] CPU Block Scheduler disabled by default and option to switch between thread schedulers
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/enums/OCLDeviceType.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLTornadoDevice.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/Tornado.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
Labels: compiler, OpenCL, runtime, cpu

#405 [jit][cpu] Disable loop-interchange for CPU offloading
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/phases/TornadoSketchTierContext.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/phases/sketcher/TornadoApiReplacement.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/sketcher/TornadoSketcher.java
Labels: compiler, OpenCL

#413 [docs] Installation for Windows docs improved
  docs/source/installation.rst
Labels: documentation

#416 [fix] Problem with FPGA execution for multiple tasks and the default scheduler
  etc/intel-oneapi-fpga.conf
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLCodeCache.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContextInterface.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLFPGAScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLGridInfo.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLKernelScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLDeviceContext.java
Labels: bug, fpga

#420 [fix] mandelbrot example temp directory fixed to accommodate Windows
  .run/MatrixMultiplication2D.run.xml
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/compute/Mandelbrot.java
Labels: fix

#422 [fix] Exclude the nvml library in cmake if platform is jetson nano as…
  tornado-drivers/ptx-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/ptx-jni/src/main/cpp/source/PTXNvidiaPowerMetric.cpp
Labels: bug, PTX

#421 NVIDIA 2D Thread Scheduler Fixed
  tornado-drivers/opencl/src/main/java/module-info.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLBackendImpl.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLExecutionEnvironment.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLGridInfo.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLPlatform.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OpenCL.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/TornadoPlatformInterface.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/OCLInstalledCode.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLAMDScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLCPUScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLFPGAScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLGenericGPUScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLKernelScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLNVIDIAGPUScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLPlatform.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVOpenCLDriver.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVOpenCLPlatform.java
Labels: OpenCL, runtime, fix

#424 [rt][ocl] Select Generic Scheduler if Driver is < 550
  .gitignore
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLTargetDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLDevice.java
Labels: OpenCL, runtime, scheduler

#423 MxM example measured in ns to obtain a better reference on fast GPUs
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/compute/MatrixMultiplication2D.java
Labels: fix

#425 Vector types for Float<With> with Int<Width> supported at the API-level
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float2.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float8.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/vectortypes/TestFloats.java
Labels: API, tests

#428 Math operations for cos/sin with vector types supported
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/math/TornadoMath.java
  tornado-examples/src/main/java/module-info.java
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/vectors/DFTVector.java
Labels: API, fix

#427 Cleanup vector initialisation - tests
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/vectortypes/TestFloats.java
Labels: refactor

#431 Update Jenkinsfile & Fix of JDK link
  Jenkinsfile
  bin/installer_config.py
Labels: jenkins

#430 [installer] check TORNADO_SDK upfront
  bin/compile
Labels: installation

#429 Documentation Updated: Installation, landing page and resources
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/introduction.rst
  docs/source/resources.rst
Labels: documentation, installation

#434 Hotfix to bypass clCreateWithBinaryIL for non-spirv devices on OSx
  tornado-drivers/opencl-jni/src/main/cpp/source/SPIRVOCLDispatcher.cpp
Labels: bug, OpenCL, osx

#435 [hotfix] Windows build fixed
  tornado-drivers/opencl-jni/src/main/cpp/source/SPIRVOCLDispatcher.cpp
Labels: bug, windows

#433 [release] TornadoVM 1.0.5
  README.md
  bin/tornadovm-installer
  docs/source/CHANGELOG.rst
  docs/source/installation.rst
  pom.xml
  tornado-annotation/pom.xml
  tornado-api/pom.xml
  tornado-assembly/pom.xml
  tornado-benchmarks/pom.xml
  tornado-drivers/drivers-common/pom.xml
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl/pom.xml
  tornado-drivers/pom.xml
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx/pom.xml
  tornado-drivers/spirv/pom.xml
  tornado-examples/pom.xml
  tornado-matrices/pom.xml
  tornado-runtime/pom.xml
  tornado-unittests/pom.xml
Labels: release
