Repository beehive-lab/TornadoVM, pull requests merged in 2024-03, with the labels that each got.

#346 [fix][spirv] Reset LocalWorkSize when the device is changed
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/TaskMetaDataInterface.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/SPIRVLevelZeroInstalledCode.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/analyzer/TaskUtils.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/AbstractMetaData.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/TaskMetaData.java
Labels: OpenCL, spirv, fix

#347 [examples] bnw example improved
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/compute/BlackAndWhiteTransform.java
Labels: enhancement, refactor

#352 Refactor memory limit checks to take into account primitve type wrappers when using the `withMemoryLimit` API
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/enums/DataTypeSize.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoExecutionContext.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/memoryplan/TestMemoryLimit.java
Labels: refactor, refactoring

#355 [API] Launch an exception when Driver/Devices indexes are not found
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/exceptions/TornadoDeviceNotFound.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/exceptions/TornadoDriverNotFound.java
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDriver.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDriver.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVDriver.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoCoreRuntime.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestDevices.java
Labels: enhancement, documentation, API

#354 DFT benchmark in FP32
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/ComputeKernels.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dft/DFTTornado.java
Labels: enhancement, OpenCL

#351 Test VectorAPI with TornadoNative types through Memory Segments for 64 to 512Bit vector
  pom.xml
  tornado-assembly/src/bin/tornado-test
  tornado-unittests/src/main/java/module-info.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/vector/api/TestVectorAPI.java
Labels: tests

#358 Fix Native Test to pass on modern platforms with no support of FP64
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/tests/TestOpenCLJITCompiler.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/tests/TestPTXJITCompiler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/tests/TestSPIRVJITCompiler.java
Labels: bug, tests, fix

#361 [spirv] Update the SPIR-V Toolkit dep. to 0.0.4
  tornado-drivers/spirv/pom.xml
Labels: dependencies, spirv

#360 Fix the tests in TestInitDataTypes
  tornado-api/src/main/java/module-info.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ByteArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/CharArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/DoubleArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/FloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/HalfFloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/IntArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/LongArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ShortArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/utils/TornadoAPIUtils.java
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/code/CodeUtil.java
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/mm/PrimitiveSerialiser.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/OCLInstalledCode.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/backend/OCLBackend.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/phases/TornadoTaskSpecialisation.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLXPUBuffer.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDeviceContext.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/PTXCodeUtil.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/backend/PTXBackend.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/phases/TornadoTaskSpecialisation.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/phases/TornadoTaskSpecialization.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoCoreRuntime.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/analyzer/TaskUtils.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/RuntimeUtilities.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestInitDataTypes.java
Labels: bug, fix

#356 Windows variant of Linux installer without MSys2
  .gitignore
  README.md
  bin/compile
  bin/tornadovm-installer.cmd
  docs/source/CHANGELOG.rst
  docs/source/cloud.rst
  docs/source/cuda-backend.rst
  docs/source/faq.rst
  docs/source/flags.rst
  docs/source/fpga-programming.rst
  docs/source/ide-integration.rst
  docs/source/installation.rst
  docs/source/multi-device.rst
  docs/source/profiler.rst
  docs/source/publications.rst
  docs/source/simple-start.rst
  docs/source/spirv-backend.rst
  docs/source/truffle-languages.rst
  pom.xml
  tornado-assembly/assembly.xml
  tornado-assembly/src/bin/test-native.cmd
  tornado-assembly/src/bin/tornado
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/opencl-jni/src/main/cpp/source/OCLContext.cpp
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/ptx-jni/src/main/cpp/source/PTXModule.cpp
  tornado-drivers/ptx-jni/src/main/cpp/source/PTXModule.h
  tornado-drivers/ptx-jni/src/main/cpp/source/PTXStream.cpp
Labels: enhancement, installation, windows

#363 [update] LevelZero-JNI dependency updated
  tornado-drivers/spirv/pom.xml
Labels: spirv, level-zero

#364 [fix] Links for LevelZero JNI and Beehive SPIR-V Toolkit fixed
  bin/compile
  bin/tornadovm-installer.cmd
Labels: spirv, level-zero, fix

#365 [release] TornadoVM 1.0.3
  README.md
  docs/source/CHANGELOG.rst
  docs/source/installation.rst
  pom.xml
  tornado-annotation/pom.xml
  tornado-api/pom.xml
  tornado-assembly/pom.xml
  tornado-benchmarks/pom.xml
  tornado-drivers/drivers-common/pom.xml
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl/pom.xml
  tornado-drivers/pom.xml
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx/pom.xml
  tornado-drivers/spirv/pom.xml
  tornado-examples/pom.xml
  tornado-matrices/pom.xml
  tornado-runtime/pom.xml
  tornado-unittests/pom.xml
Labels: release
