Repository beehive-lab/TornadoVM, pull requests merged in 2024-02, with the labels that each got.

#322 Fix duplicate printing of thread info when debug is enabled
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/OCLInstalledCode.java
Labels: bug

#325 [fix] MatrixVectorFloat4 set/get accesses fixed
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorFloat4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageByte3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageByte4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageFloat.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageFloat3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageFloat4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageFloat8.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DDouble.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DFloat.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DFloat4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DInt.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix3DFloat.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix4x4Float.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/utils/StorageFormats.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/volumes/VolumeShort2.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/plugins/OCLVectorPlugins.java
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/compute/MatrixVector.java
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/vectors/DFTVector.java
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/vectors/MatrixVector.java
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/vectors/VectorAddTest.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/compute/ComputeTests.java
Labels: bug, API

#326 Syntax warning fixed for the unit-test script
  .gitignore
  tornado-assembly/src/bin/tornado-test
Labels: bug, installation

#327 [fix] memory limit checks
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/TornadoCollectionInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorDouble.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorDouble16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorDouble2.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorDouble3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorDouble4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorDouble8.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorFloat.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorFloat16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorFloat2.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorFloat3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorFloat4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorFloat8.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorInt.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorInt16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorInt2.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorInt3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorInt4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/collections/VectorInt8.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageByte3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageByte4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageFloat.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageFloat3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageFloat4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/ImageFloat8.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/images/TornadoImagesInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DDouble.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DFloat.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DFloat4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DInt.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix2DType.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix3DFloat.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix3DFloat4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix4x4Float.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/TornadoMatrixInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Byte3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Byte4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Double16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Double2.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Double3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Double4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Double8.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float2.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Float8.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Int16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Int2.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Int3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Int4.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Int8.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Short2.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/Short3.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/vectors/TornadoVectorsInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/volumes/TornadoVolumesInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/volumes/VolumeShort2.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoExecutionContext.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
Labels: bug, API, runtime

#329 [fix] Dynamic reconfiguration policies
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
Labels: bug, API, runtime

#332 Batch Processing with Multiple tasks in a task-graph
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoVM.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/BatchConfiguration.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoExecutionContext.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoVMBytecodeBuilder.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoVMGraphCompiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/batches/TestBatches.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/memoryplan/TestMemoryLimit.java
Labels: bug, enhancement, runtime

#334 [feat] Dynanically enable the profiler after the first execution
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/profiler/TornadoProfiler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoVM.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/profiler/EmptyProfiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/profiler/TimeProfiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/profiler/TestProfiler.java
Labels: enhancement, API, runtime

#340 New calls to profile the Execution Plan: withThreadInfo and withPrintKernel
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/TaskMetaDataInterface.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLCodeCache.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContextInterface.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/tests/TestOpenCLTornadoCompiler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXCodeCache.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDeviceContext.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/tests/TestPTXTornadoCompiler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVLevelZeroCodeCache.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/tests/TestSPIRVTornadoCompiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoVM.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/RuntimeUtilities.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoExecutionContext.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/ReduceTaskGraph.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/AbstractMetaData.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/ScheduleMetaData.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/TaskMetaData.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/foundation/TestIntegers.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/profiler/TestProfiler.java
Labels: enhancement, API, feature

#341 [release] TornadoVM 1.0.2
  README.md
  docs/source/CHANGELOG.rst
  docs/source/installation.rst
  pom.xml
  tornado-annotation/pom.xml
  tornado-api/pom.xml
  tornado-assembly/pom.xml
  tornado-benchmarks/pom.xml
  tornado-drivers/drivers-common/pom.xml
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl/pom.xml
  tornado-drivers/pom.xml
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx/pom.xml
  tornado-drivers/spirv/pom.xml
  tornado-examples/pom.xml
  tornado-matrices/pom.xml
  tornado-runtime/pom.xml
  tornado-unittests/pom.xml
Labels: release

#343 Dev-track version set to 1.0.3-dev
  pom.xml
  tornado-annotation/pom.xml
  tornado-api/pom.xml
  tornado-assembly/pom.xml
  tornado-benchmarks/pom.xml
  tornado-drivers/drivers-common/pom.xml
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl/pom.xml
  tornado-drivers/pom.xml
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx/pom.xml
  tornado-drivers/spirv/pom.xml
  tornado-examples/pom.xml
  tornado-matrices/pom.xml
  tornado-runtime/pom.xml
  tornado-unittests/pom.xml
Labels: installation
