Repository beehive-lab/TornadoVM, pull requests merged in 2024-09, with the labels that each got.

#549 Prebuilt API test using a multi-backend setup and selecting specific device
  README.md
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/exceptions/TornadoExecutionPlanException.java
  tornado-assembly/src/bin/tornado-test
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/prebuilt/PrebuiltTests.java
Labels: runtime, tests

#552 Fix issue with multiple SPIR-V devices
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVBackendImpl.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
Labels: bug, spirv

#553 [fix] OCL compiler flags for math tests on Integrated GPUs
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/math/TestMath.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/math/TestTornadoMathCollection.java
Labels: bug

#557 [fix] Shared Execution Context fixed when having Multi-Threaded Java applicatons
  .gitignore
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoDeviceContext.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContextInterface.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLJIT.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/tests/TestOpenCLJITCompiler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXCodeCache.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDeviceContext.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/tests/TestPTXJITCompiler.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/tests/TestPTXTornadoCompiler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVDeviceContext.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/tests/TestSPIRVJITCompiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/JVMMapping.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoXPUDevice.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
Labels: bug, runtime

#559 [refactor] Removed the getHandleByIndex from the PowerMetric interfac…
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/power/PowerMetric.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/power/OCLEmptyPowerMetric.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/power/OCLNvidiaPowerMetric.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDeviceContext.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/power/PTXNvidiaPowerMetric.java
Labels: runtime, refactoring

#561 [fix] Build for OSx 14.5 and CLANG 16
  tornado-drivers/opencl-jni/src/main/cpp/CMakeLists.txt
Labels: installation, fix, osx

#562 [fix] Warmup action from the execution plan with updates IDs
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVDeviceContext.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/analyzer/TaskUtils.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
Labels: runtime, fix

#564 [hotfix] Update the running scripts to run kfusion in Jenkins exclusively on one backend
  Jenkinsfile
Labels: jenkins

#563 [feat] Expand TornadoVM profiler with GPU power metrics from oneAPI LevelZero SYSMAN API
  docs/source/profiler.rst
  tornado-drivers/opencl-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/opencl-jni/src/main/cpp/source/OCLNvidiaPowerMetricHandler.cpp
  tornado-drivers/opencl-jni/src/main/cpp/source/OCLNvidiaPowerMetricHandler.h
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/power/OCLEmptyPowerMetricHandler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/power/OCLNvidiaPowerMetricHandler.java
  tornado-drivers/ptx-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/ptx-jni/src/main/cpp/source/PTXNvidiaPowerMetricHandler.cpp
  tornado-drivers/ptx-jni/src/main/cpp/source/PTXNvidiaPowerMetricHandler.h
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDeviceContext.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/power/PTXNvidiaPowerMetricHandler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVDeviceContext.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/SPIRVLevelZeroInstalledCode.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/power/SPIRVLevelZeroPowerMetricHandler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/power/SPIRVOCLPowerMetricHandler.java
Labels: enhancement, feature

#565 [API] New API call in the Execution Plan to log/trace the plan
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ExecutionPlanType.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutor.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoProfilerResult.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/OffConcurrentDevices.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/OffMemoryLimit.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/OffPrintKernel.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/OffProfiler.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/OffThreadInfo.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithBatch.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithClearProfiles.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithCompilerFlags.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithConcurrentDevices.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithDefaultScheduler.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithDevicePlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithDynamicReconfiguration.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithFreeDeviceMemory.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithGridScheduler.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithMemoryLimit.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithPrintKernel.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithProfiler.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithResetDevice.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithThreadInfo.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithWarmUp.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/runtime/ExecutorFrame.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/compiler/TornadoSketchTier.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/phases/sketcher/TornadoDataflowAnalysis.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/executor/TestExecutor.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/foundation/TestIntegers.java
Labels: API

#567 [release] TornadoVM 1.0.8
  README.md
  docs/source/CHANGELOG.rst
  docs/source/conf.py
  docs/source/installation.rst
  pom.xml
  tornado-annotation/pom.xml
  tornado-api/pom.xml
  tornado-assembly/pom.xml
  tornado-assembly/src/bin/tornado-test
  tornado-benchmarks/pom.xml
  tornado-drivers/drivers-common/pom.xml
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl/pom.xml
  tornado-drivers/pom.xml
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx/pom.xml
  tornado-drivers/spirv/pom.xml
  tornado-examples/pom.xml
  tornado-matrices/pom.xml
  tornado-runtime/pom.xml
  tornado-unittests/pom.xml
Labels: release
