Repository beehive-lab/TornadoVM, pull requests merged in 2024-01, with the labels that each got.

#300 [fix][install] Python module deps fixed. SPIR-V installer improved
  Makefile
  bin/compile
  bin/softwareDevDependencies.txt
  bin/tornadoDepModules.txt
Labels: installation, dependencies

#305 Enable Under Demand Data Transfers from Device to Host
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/DataRange.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraphInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionResult.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/enums/DataTransferMode.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/ObjectBuffer.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/TornadoDeviceObjectState.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ByteArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/CharArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/DoubleArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/FloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/IntArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/LongArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ShortArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/TornadoNativeArray.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/nbody/NBodyTornado.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/AtomicsBuffer.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/FieldBuffer.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLArrayWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLMemorySegmentWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLObjectWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLVectorWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/FieldBuffer.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXArrayWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXMemorySegmentWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXObjectWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXVectorWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/FieldBuffer.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVArrayWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVMemorySegmentWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVMultiDimArrayWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVObjectWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVVectorWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/compute/NBody.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/DeviceObjectState.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestAPI.java
Labels: enhancement, API, runtime, feature

#308 [fix] Runtime Name Check for Grid Schedulers
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/GridScheduler.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/common/PrebuiltTaskPackage.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/common/TaskPackage.java
  tornado-assembly/src/bin/tornado-test
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/analyzer/ReduceCodeAnalysis.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/analyzer/TaskUtils.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/compiler/TornadoCompilerIdentifier.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/PrebuiltTask.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/grid/TestGridScheduler.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/kernelcontext/api/Grids.java
Labels: bug, clean-up, runtime

#312 [#306] Impove code readibility in `TornadoTaskGraph` by adapting String Templates
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/ReduceTaskGraph.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
Labels: clean-up

#311 Enable MTMD behaviour on device selection as part of the TornadoVM `TaskGraph` API
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/common/SchedulableTask.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoVM.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoGraphBuilder.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/CompilableTask.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/PrebuiltTask.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/common/TornadoTestBase.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/vm/concurrency/TestConcurrentBackends.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/vm/concurrency/TestParallelTaskGraph.java
Labels: API

#314 [spirv][fix] emit Vector16 Capability for 16-width vectors
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVPrimitiveTypes.java
Labels: compiler, spirv

#315 [math] ceil function added
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/math/TornadoMath.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/asm/OCLAssembler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/plugins/OCLMathPlugins.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/lir/OCLBuiltinTool.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/nodes/OCLFPUnaryIntrinsicNode.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/asm/PTXAssembler.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/asm/PTXAssemblerConstants.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/compiler/plugins/PTXMathPlugins.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/lir/PTXBuiltinTool.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/nodes/PTXFPUnaryIntrinsicNode.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/compiler/plugins/SPIRVMathPlugins.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/nodes/SPIRVFPUnaryIntrinsicNode.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/math/TestMath.java
Labels: compiler, API, OpenCL, PTX, spirv

#316 [SPIRV] Beehive Toolkit version updated
  bin/compile
  tornado-drivers/spirv/pom.xml
Labels: compiler, spirv

#317 Fix for graal-jdk21 profile in pom.xml
  pom.xml
Labels: bug

#319 [tests] half-type (fp16) tests added in the whitelist
  tornado-assembly/src/bin/tornado-test
Labels: OpenCL, tests

#320 [release] TornadoVM v1.0.1
  README.md
  docs/source/CHANGELOG.rst
  docs/source/installation.rst
  pom.xml
  tornado-annotation/pom.xml
  tornado-api/pom.xml
  tornado-assembly/pom.xml
  tornado-benchmarks/pom.xml
  tornado-drivers/drivers-common/pom.xml
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl/pom.xml
  tornado-drivers/pom.xml
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx/pom.xml
  tornado-drivers/spirv/pom.xml
  tornado-examples/pom.xml
  tornado-matrices/pom.xml
  tornado-runtime/pom.xml
  tornado-unittests/pom.xml
Labels: release
