Repository beehive-lab/TornadoVM, pull requests merged in 2024-11, with the labels that each got.

#587 [fix] NVIDIA Thread Scheduler for new NVIDIA drivers
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLScheduler.java
Labels: bug, OpenCL, runtime

#589 Enable Partial Loop Unroll for all Backends
  tornado-assembly/src/etc/exportLists/common-exports
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/compiler/phases/loops/TornadoPartialLoopUnrollPhase.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLMidTier.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/compiler/PTXMidTier.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/compiler/SPIRVLIRGenerator.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/compiler/SPIRVLowTier.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/compiler/SPIRVMidTier.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/compiler/SPIRVNodeLIRBuilder.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/lir/SPIRVControlFlow.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/nodes/PartialUnrollNode.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/phases/PartialLoopUnrollPhase.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/meta/TaskDataContext.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/matrices/TestMatrices.java
Labels: compiler, OpenCL, PTX, spirv

#594 RISC-V 64 Port Enabled
  bin/installer_config.py
  bin/tornadovm-installer
  docs/source/installation.rst
Labels: installation, riscv

#592 [Fix] Replace Invalid OpenCL Representation of Infinity Constants for `Float.POSITIVE_INFINITY` and `Float.NEGATIVE_INFINITY`
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLLowTier.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/phases/InfinityReplacementPhase.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/compiler/PTXLowTier.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/phases/InfinityReplacementPhase.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/compiler/SPIRVLowTier.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/phases/InfinityReplacementPhase.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/compute/MMwithBytes.java
Labels: bug

#596 [hotfix] FPGA kernels generate an extra bracket
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLBlockVisitor.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLCompilationResultBuilder.java
Labels: bug, fpga

#597 Whitelisted unit-test & Checkstyle application
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/GridScheduler.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithDynamicReconfiguration.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix3DLong.java
  tornado-assembly/src/bin/tornado-test
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/compute/MMwithBytes.java
Labels: tests, code-style
