Repository beehive-lab/TornadoVM, pull requests merged in 2024-04, with the labels that each got.

#368 Resolve checkstyle issues
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoDeviceMap.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/JVMMapping.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/TornadoVM.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/RuntimeUtilities.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestDevices.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/batches/TestBatches.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/multithreaded/MultiThreaded.java
Labels: refactor

#367 [fix] Some graal modules are not visible in runtime and driver modules and break Truffle interoperability
  tornado-drivers/opencl/src/main/java/module-info.java
  tornado-drivers/ptx/src/main/java/module-info.java
  tornado-runtime/src/main/java/module-info.java
Labels: bug

#370 Implement Multi-Array Concatenation using Memory Segment Copy
  docs/source/programming.rst
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ByteArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/CharArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/DoubleArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/FloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/HalfFloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/IntArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/LongArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ShortArray.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestConcat.java
Labels: API

#369 Introduce Tensor API, Tensor Utilities and compatiblity with ONNX RT
  pom.xml
  tornado-api/src/main/java/module-info.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/HalfFloat.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/HalfFloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/TornadoNativeArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/DType.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/Shape.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/Tensor.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/TensorByte.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/TensorFP16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/TensorFP32.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/TensorFP64.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/TensorInt16.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/TensorInt32.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/tensors/TensorInt64.java
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/OCLHotSpotBackendFactory.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/phases/TornadoHalfFloatReplacement.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/compiler/TornadoSketchTier.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/phases/TornadoHalfFloatFixedGuardElimination.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/phases/sketcher/TornadoDataflowAnalysis.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graal/phases/sketcher/TornadoReduceReplacement.java
  tornado-unittests/pom.xml
  tornado-unittests/src/main/java/module-info.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestConcat.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/tensors/TestTensorAPIWithOnnx.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/tensors/TestTensorTypes.java
Labels: API

#373 Handle cases where the class field is a half float array
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLXPUBuffer.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXObjectWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVObjectWrapper.java
Labels: OpenCL, PTX, runtime, spirv, fix

#374 Add constructors for concatinating multiple arrays of TornadoNativeType instances
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ByteArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/CharArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/DoubleArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/FloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/HalfFloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/IntArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/LongArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ShortArray.java
Labels: API

#376 Support lazy copy-out for batch processing
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXMemorySegmentWrapper.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/batches/TestBatches.java
Labels: runtime, fix

#375 Add support to create TornadoNativeArrays from a TornadoNativeArray slice
  docs/source/programming.rst
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ByteArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/CharArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/DoubleArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/FloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/HalfFloatArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/IntArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/LongArray.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/ShortArray.java
  tornado-assembly/src/bin/tornado-test
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestSlice.java
Labels: API

#378 Fix for the free memory marker of TornadoVM when running multi-threaded execution plans
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/ObjectState.java
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/TornadoBufferProvider.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OpenCL.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLArrayWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLMemorySegmentWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLVectorWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLXPUBuffer.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/tests/TestOpenCLJITCompiler.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTX.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXArrayWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXMemorySegmentWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXObjectWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXVectorWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/tests/TestPTXJITCompiler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVLevelZeroContext.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVArrayWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVMemorySegmentWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVObjectWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVVectorWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/tests/TestSPIRVJITCompiler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/tests/TestVM.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoExecutionContext.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/DataObjectState.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/LocalObjectState.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/multithreaded/TestMultiThreadedExecutionPlans.java
Labels: runtime, fix

#380 [fix] event list size increased to accomodate profiling of large appl…
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLByteBuffer.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/multithreaded/TestMultiThreadedExecutionPlans.java
Labels: runtime, fix

#371 Add Windows support to automatic installation script
  .gitignore
  Makefile
  Makefile.mak
  bin/compile
  bin/install_python_modules.py
  bin/installer_config.py
  bin/post_installation.py
  bin/pull_graal_jars.py
  bin/tornadovm-installer
  bin/tornadovm-installer.cmd
  bin/update_paths.py
  docs/source/installation.rst
  docs/source/offheap-types.rst
Labels: installation, windows

#377 [feat] Expand TornadoVM profiler with GPU power metrics from NVIDIA NVML API
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/profiler/ProfilerType.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/profiler/TornadoProfiler.java
  tornado-drivers/drivers-common/src/main/java/module-info.java
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/power/PowerMetric.java
  tornado-drivers/opencl-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/opencl-jni/src/main/cpp/source/OCLNvidiaPowerMetric.cpp
  tornado-drivers/opencl-jni/src/main/cpp/source/OCLNvidiaPowerMetric.h
  tornado-drivers/opencl-jni/src/main/cpp/source/ocl_log.h
  tornado-drivers/opencl/src/main/java/module-info.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLKernelScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/power/OCLEmptyPowerMetric.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/power/OCLNvidiaPowerMetric.java
  tornado-drivers/ptx-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/ptx-jni/src/main/cpp/source/PTXNvidiaPowerMetric.cpp
  tornado-drivers/ptx-jni/src/main/cpp/source/PTXNvidiaPowerMetric.h
  tornado-drivers/ptx-jni/src/main/cpp/source/ptx_log.h
  tornado-drivers/ptx/src/main/java/module-info.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDeviceContext.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/power/PTXNvidiaPowerMetric.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/profiler/EmptyProfiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/profiler/TimeProfiler.java
Labels: enhancement, feature

#385 Check style fixed
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/arrays/HalfFloatArray.java
Labels: code-style

#388 [fix] actual and expected values swap
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/tensors/TestTensorTypes.java
Labels: tests, fix

#392 [installer][fix] Fix for using TornadoVM with another provided JDK
  bin/tornadovm-installer
Labels: installation, fix

#387 Fix for Device Events (OpenCL and SPIR-V events) when running Multi-threaded Execution plans
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoDeviceContext.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/common/TornadoDevice.java
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/TornadoBufferProvider.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContextInterface.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLEventPool.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/OCLInstalledCode.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/backend/OCLBackend.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTXDeviceContext.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVBackend.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVDeviceContext.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-examples/src/main/java/uk/ac/manchester/tornado/examples/matrices/MatrixAddition2D.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/JVMMapping.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestIO.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/common/TornadoTestBase.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/fails/TestFails.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/profiler/TestProfiler.java
Labels: bug, OpenCL, runtime, spirv

#389 New Iteration for achieving Multi-Threaded Execution Plans
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/DeviceBufferState.java
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/opencl-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OpenCL.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/tests/TestOpenCLJITCompiler.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTX.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/tests/TestPTXJITCompiler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/tests/TestSPIRVJITCompiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/XPUDeviceBufferState.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoExecutionContext.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/DataObjectState.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/multithreaded/TestMultiThreadedExecutionPlans.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/tensors/TestTensorAPIWithOnnx.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/tensors/TestTensorTypes.java
Labels: runtime, fix

#396 [hotfix] Resolving issue with missing CUDA NVML library for OpenCL
  tornado-drivers/opencl-jni/src/main/cpp/CMakeLists.txt
  tornado-drivers/opencl-jni/src/main/cpp/source/OCLNvidiaPowerMetric.cpp
Labels: bug, fix

#398 [release] TornadoVM v1.0.4
  README.md
  bin/tornadovm-installer
  docs/source/CHANGELOG.rst
  docs/source/installation.rst
  pom.xml
  tornado-annotation/pom.xml
  tornado-api/pom.xml
  tornado-assembly/pom.xml
  tornado-benchmarks/pom.xml
  tornado-drivers/drivers-common/pom.xml
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl/pom.xml
  tornado-drivers/pom.xml
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx/pom.xml
  tornado-drivers/spirv/pom.xml
  tornado-examples/pom.xml
  tornado-matrices/pom.xml
  tornado-runtime/pom.xml
  tornado-unittests/pom.xml
Labels: release

#399 [docs] Example in the front README page updated
  README.md
Labels: documentation
