Repository beehive-lab/TornadoVM, pull requests merged in 2024-10, with the labels that each got.

#570 [Jenkins] Extend the timeout for unit-tests
  Jenkinsfile
Labels: jenkins

#572 [fix] Print default execution plans
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/executor/TestExecutor.java
Labels: API, runtime

#571 [OpenCL] Fix issues with brackets for if-conditions in for-loops
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLBlockVisitor.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/branching/TestLoopConditions.java
Labels: bug, OpenCL

#575 [hotfix] Used a fixed Level Zero version for Intel integrated graphics
  bin/compile
Labels: installation, level-zero

#573 Print list of failed tests at the end of the tornado-tests script
  tornado-assembly/src/bin/tornado-test
Labels: tests, feature

#579 Remove legacy jdk 8 and 11 options from the tornado script
  tornado-assembly/src/bin/tornado
Labels: clean-up

#576 Extend type support for 3D matrices
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix3DDouble.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix3DInt.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix3DLong.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix3DShort.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/TornadoMatrixInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/utils/LongOps.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/utils/StorageFormats.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/matrices/TestMatrixTypes.java
Labels: enhancement, API

#582 Restore building/running TornadoVM from IntelliJ & update of documentation
  .build/TornadoVM-Build.run.xml
  .build/TornadoVM-Tests.run.xml
  .build/_internal_TornadoVM_Maven-cleanAndinstall.run.xml
  bin/post_installation.py
  bin/tornadovm-installer
  docs/source/ide-integration.rst
  tornado-assembly/src/bin/tornado-test
Labels: enhancement, documentation

#580 Extended information when printing the path for execution plans
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ExecutionPlanType.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/GridScheduler.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoProfilerResult.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithBatch.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithCompilerFlags.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithDevice.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithDynamicReconfiguration.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithGridScheduler.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithMemoryLimit.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/plan/types/WithProfiler.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/executor/TestExecutor.java
Labels: enhancement, API

#583 Automated generation of IDE profile files from tornado command
  .build/.gitignore
  .gitignore
  docs/source/faq.rst
  docs/source/ide-integration.rst
  scripts/templates/intellij-settings/ideinit/maven_template.xml
  scripts/templates/intellij-settings/ideinit/tornadovm_build_template.xml
  scripts/templates/intellij-settings/ideinit/tornadovm_tests_template.xml
  tornado-assembly/src/bin/idea_xml_utils.py
  tornado-assembly/src/bin/tornado
Labels: enhancement, documentation, python
