Repository beehive-lab/TornadoVM, pull requests merged in 2024-06, with the labels that each got.

#440 [feat] Removed conflicts that prohibited the build of remote branches
  Jenkinsfile
Labels: jenkins

#441 Fix failing unit-tests for PTX in Jenkins
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/math/TornadoMath.java
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/nodes/PTXFPUnaryIntrinsicNode.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestIO.java
Labels: PTX, tests

#442 [fix][rt] support for query multiple SPIR-V supported versions
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDevice.java
Labels: runtime, spirv, fix

#443 Update Jenkins to run SPIRV unit-tests for OpenCL and LevelZero runtimes
  Jenkinsfile
Labels: jenkins

#444 Enabling release memory (device memory deallocations) mode after each run from the Execution Plan
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/XPUBuffer.java
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/TornadoBufferProvider.java
  tornado-drivers/opencl-jni/src/main/cpp/source/ocl_log.h
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLCommandQueueTable.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLDeviceContext.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLPlatform.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OCLTargetDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OpenCL.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/AtomicsBuffer.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLArrayWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLMemorySegmentWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLVectorWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLXPUBuffer.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLBufferProvider.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/FieldBuffer.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXArrayWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXMemorySegmentWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXMultiDimArrayWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXObjectWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXVectorWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVOCLCodeCache.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVOCLDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVArrayWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVMemorySegmentWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVObjectWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVVectorWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
Labels: enhancement, runtime

#447 Fix recompilation when batch processing is not triggered
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/BenchmarkDriver.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/BenchmarkRunner.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/addImage/AddJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/addImage/AddTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/blackscholes/BlackScholesJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/blackscholes/BlackScholesTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/blurFilter/BlurFilterJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/blurFilter/BlurFilterTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/convolvearray/ConvolveImageArrayJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/convolvearray/ConvolveImageArrayTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/convolveimage/ConvolveImageJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/convolveimage/ConvolveImageStreams.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/convolveimage/ConvolveImageTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dft/DFTJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dft/DFTTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dgemm/DgemmJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dgemm/DgemmTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dotimage/DotJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dotimage/DotTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dotvector/DotJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/dotvector/DotTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/euler/EulerJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/euler/EulerTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/hilbert/HilbertJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/hilbert/HilbertTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/juliaset/JuliaSetJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/juliaset/JuliaSetTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/mandelbrot/MandelbrotJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/mandelbrot/MandelbrotTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/montecarlo/MonteCarloJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/montecarlo/MonteCarloTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/nbody/NBodyJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/nbody/NBodyTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/renderTrack/RenderTrackJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/renderTrack/RenderTrackTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/rotateimage/RotateJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/rotateimage/RotateStreams.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/rotateimage/RotateTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/rotatevector/RotateJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/rotatevector/RotateTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/saxpy/SaxpyJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/saxpy/SaxpyTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/sgemm/SgemmJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/sgemm/SgemmTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/sgemv/SgemvJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/sgemv/SgemvTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/spmv/SpmvJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/spmv/SpmvTornado.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/stencil/StencilJava.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/stencil/StencilTornado.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
Labels: runtime, fix

#448 [feat] Query Memory Consumption and expanded profiler with memory consumption
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoProfilerResult.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/common/TornadoDevice.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/XPUBuffer.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/profiler/ProfilerInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/profiler/ProfilerType.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/profiler/TornadoProfiler.java
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/TornadoBufferProvider.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/OpenCL.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/AtomicsBuffer.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLArrayWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLMemoryManager.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLMemorySegmentWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLVectorWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLXPUBuffer.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/tests/TestOpenCLJITCompiler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/virtual/VirtualOCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/PTX.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXArrayWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXMemorySegmentWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXObjectWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXVectorWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/tests/TestPTXJITCompiler.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVArrayWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVMemorySegmentWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVObjectWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVVectorWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/tests/TestSPIRVJITCompiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/JVMMapping.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoXPUDevice.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoExecutionContext.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/profiler/EmptyProfiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/profiler/TimeProfiler.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/memory/MemoryConsumptionTest.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/memory/TestMemoryCommon.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/memory/TestMemoryLimit.java
Labels: API, feature

#449 Typo benchmark fixed
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/BenchmarkRunner.java
Labels: fix

#451 Option to select the SPIR-V Runtime Dispatcher
  Makefile
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVBackendImpl.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVLevelZeroDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVLevelZeroPlatform.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVOCLDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVOpenCLPlatform.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVPlatform.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVRuntimeImpl.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVRuntimeType.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/SPIRVArchitecture.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/SPIRVHotSpotBackendFactory.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/tests/TestVM.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
Labels: runtime, spirv

#446 Guard Nvidia GPU scheduler for minor version to prevent incorrect thread scheduling
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLAMDScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLCPUScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLFPGAScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLGenericGPUScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLKernelScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLNVIDIAGPUScheduler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/scheduler/OCLScheduler.java
Labels: runtime, fix

#450 Update tornado-benchmarks.py, add --properties option
  tornado-assembly/src/bin/tornado-benchmarks.py
Labels: enhancement

#453 Update Jenkinsfile regarding the execution of SPIR-V with the OpenCL and Intel LevelZero runtimes
  Jenkinsfile
Labels: jenkins

#452 [feat] SPIR-V binary stored in tmp directory per username
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVCodeCache.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVLevelZeroCodeCache.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/SPIRVOCLCodeCache.java
Labels: compiler, spirv, fix

#459 [docs] Contributions page updated
  CONTRIBUTING.md
Labels: documentation

#458 [fix] Profiler CopyIns fixed - READ_ONLY data fixed
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLArrayWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLMemorySegmentWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLVectorWrapper.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/mm/OCLXPUBuffer.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXMemorySegmentWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/mm/PTXVectorWrapper.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVArrayWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVMemorySegmentWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVObjectWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/mm/SPIRVVectorWrapper.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/XPUDeviceBufferState.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
Labels: OpenCL, PTX, runtime, spirv, fix

#463 CPU Virtual tests removed, since the scheduler between CPU/GPU is the same
  tornado-assembly/src/bin/tornado-test
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/virtual/TestVirtualDeviceFeatureExtraction.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/virtual/TestVirtualDeviceKernel.java
Labels: tests, fix

#462 Support conditional copy-by-reference in local memory
  tornado-assembly/src/bin/tornado-test
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/asm/OCLAssembler.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/compiler/OCLLowTier.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/lir/OCLAddressLowering.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/lir/OCLKind.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/nodes/FixedArrayCopyNode.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/nodes/FixedArrayNode.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/graal/phases/TornadoFixedArrayCopyPhase.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/asm/PTXAssembler.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/compiler/PTXLowTier.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/compiler/PTXNodeLIRBuilder.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/lir/PTXAddressLowering.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/lir/PTXKind.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/lir/PTXLIRStmt.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/nodes/FixedArrayCopyNode.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/nodes/FixedArrayNode.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/graal/phases/TornadoFixedArrayCopyPhase.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/compiler/SPIRVLowTier.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/graal/phases/TornadoFixedArrayCopyPhase.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/arrays/TestArrayCopies.java
Labels: compiler, OpenCL, PTX, feature

#464 [release] TornadoVM v1.0.6
  README.md
  docs/source/CHANGELOG.rst
  docs/source/installation.rst
  pom.xml
  tornado-annotation/pom.xml
  tornado-api/pom.xml
  tornado-assembly/pom.xml
  tornado-benchmarks/pom.xml
  tornado-drivers/drivers-common/pom.xml
  tornado-drivers/opencl-jni/pom.xml
  tornado-drivers/opencl/pom.xml
  tornado-drivers/pom.xml
  tornado-drivers/ptx-jni/pom.xml
  tornado-drivers/ptx/pom.xml
  tornado-drivers/spirv/pom.xml
  tornado-examples/pom.xml
  tornado-matrices/pom.xml
  tornado-runtime/pom.xml
  tornado-unittests/pom.xml
Labels: release
