Repository beehive-lab/TornadoVM, pull requests merged in 2025-04, with the labels that each got.

#658 [riscv] Build patches for RISC-V fixed for v1.1.0
  docs/source/installation.rst
Labels: installation, riscv

#661 [feature] Add functionality to dump TornadoVM internal bytecodes to a log file
  tornado-assembly/src/bin/tornado
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/RuntimeUtilities.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
Labels: runtime, feature

#666 [Fix] Grid Scheduler Name checker for execution plans with multiple task-graphs
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutor.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/grid/TestGridScheduler.java
Labels: API, runtime, fix

#657 Optimize number of batch allocations
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/memory/DeviceBufferState.java
  tornado-drivers/drivers-common/src/main/java/uk/ac/manchester/tornado/drivers/common/TornadoBufferProvider.java
  tornado-drivers/opencl/src/main/java/uk/ac/manchester/tornado/drivers/opencl/runtime/OCLTornadoDevice.java
  tornado-drivers/ptx/src/main/java/uk/ac/manchester/tornado/drivers/ptx/runtime/PTXTornadoDevice.java
  tornado-drivers/spirv/src/main/java/uk/ac/manchester/tornado/drivers/spirv/runtime/SPIRVTornadoDevice.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/XPUDeviceBufferState.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
Labels: OpenCL, PTX, runtime, spirv

#667 [docs] Update documentation of the TornadoVM flags
  docs/source/flags.rst
  tornado-assembly/src/bin/tornado
  tornado-assembly/src/bin/tornado-test
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/virtual/TestVirtualDeviceFeatureExtraction.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/virtual/TestVirtualDeviceKernel.java
Labels: documentation

#669 Improve output on `TRANSER_TO_DEVICE_ONCE` bc with marking non-executed actions
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/DebugInterpreter.java
Labels: enhancement

#670 Refactoring of the Matrix4x4Float type
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/types/matrix/Matrix4x4Float.java
  tornado-benchmarks/src/main/java/uk/ac/manchester/tornado/benchmarks/GraphicsKernels.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/slam/GraphicsTests.java
Labels: API, refactoring

#660 [feature] Extend TornadoVM bytecodes with `PERSIST_BUFFER` bc to improve tracking of an object lifecycle
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoGraphBuilder.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoVMBytecodeBuilder.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/TornadoVMBytecodes.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/graph/nodes/PersistedObjectNode.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/DebugInterpreter.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
Labels: runtime

#671 Refactoring the Configuration of Logging the TornadoVM Bytecodes
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/RuntimeUtilities.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/common/TornadoOptions.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/interpreter/TornadoVMInterpreter.java
Labels: refactoring

#659 Support for updating object state from directly from the last executed task-graph
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/ImmutableTaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraph.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TaskGraphInterface.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutionPlan.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoExecutor.java
  tornado-api/src/main/java/uk/ac/manchester/tornado/api/TornadoTaskGraphInterface.java
  tornado-runtime/src/main/java/uk/ac/manchester/tornado/runtime/tasks/TornadoTaskGraph.java
  tornado-unittests/src/main/java/uk/ac/manchester/tornado/unittests/api/TestSharedBuffers.java
Labels: API, runtime
